* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header-nav {
    background-color: green;
    border-radius: 0;
    border: 0;
}

.navbar a:hover,
.navbar a:focus {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 175%;
    font-weight: bold;
    margin: 10px 0px 10px;
}

h2 {
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    margin: 10px 0px 10px;
}


/* Desktop */

.col-md-12 {}


/* Tablet */

.col-sm-12 {}


/* Mobile */

.col-xs-12 {}